.tableRow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 1em;
}

.tableRow td {
    padding-left: 4em;
}

.tableRow td:nth-child(5) {
    padding-left: 8em;
}

.tableRow td:nth-child(4) {
    padding-left: 13em;
}

.extraSpace {
    padding-left: 7em;
}


.btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    position: fixed;
    background-image: linear-gradient(to right, #9ADCFF, white);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.divs {
    display: flex;
    justify-content: left;
    align-items: center;
}

.favoritesDiv {
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}